.product-tile{
    width: 250px;
    height: 200px;
    border: 1px solid;
    padding: 10px;
    background: white;
    box-shadow: 5px 10px 8px 10px #888888;
    display: inline-block;
    margin:10px;
}
.title{
    font-size: 25px;
}
.actions button{
    margin: 50px 10px;
    height :40px;
    width: 100px;
    background-color: #20B2AA;
    color: #ffffff
}